<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="home">
            {%- if page.title -%}
            <h1 class="page-heading">{{ page.title }}</h1>
            {%- endif -%}

            {{ content }}

            {%- if site.posts.size > 0 -%}
            <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
            <ul class="list-group list-group-flush">
                {%- for post in site.posts -%}
                <li class="list-group-item">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                    <!-- <p class="post-meta">{{ post.categories | capitalize | join: ', ' }}</p>-->
                    <p class="post-meta">{{ post.categories | join: ", " }}</p>
                    <h4>
                        <a class="text-decoration-none" href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                    </h4>
                   <p>{{ page.categories | capitalize | join: ', ' }}</p>
                    {%- if site.show_excerpts -%}
                   <p class="flow-text">{{ post.excerpt }} </p>
                    {%- endif -%}
                </li>
                {%- endfor -%}
            </ul>

           <!-- <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p> -->
            {%- endif -%}

        </div>
    </div>

</body>

</html>